*{
    padding: 0;
    margin: 0;
    font-family: Helvetica;
    box-sizing: border-box;
}

/* Grid de produtos */

.container {
    background-color: #DCDCDC;
    min-height: 60vh;
    padding: 50px;
}

.molde{
    width: 60%;
    margin-left: 20%;
    height: auto;
    padding-top: 1px;
    background-color: wheat;
    border-radius: 10px;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

.div_RQuantidade{
    display: flex;
    flex-direction: row;
}

#img-icon_lixeira{
    background-image: url('../img/icon_lixeira.png');
}

#img-1{
    background-image: url('../img/fone1.jpg');
}

#img-2{
    background-image: url('../img/monitor1.jpg');
}

#img-3{
    background-image: url('../img/mousepad1.jpg');
}

footer{
    background-color: #FFB6C1;
    text-align: center;
    padding: 80px;
    color: #8B0000;
}

.titulo{
    font-size:xx-large;
    color: #8B0000;
    padding-left: 8px;

    margin-top: 25px;
    margin-bottom: 25px;
}

.card p{
    margin-bottom: 10px;
}

.card{
    width: 98%;
    margin: 1% 1%;
    padding-bottom:5px ;
    display: flex;
    flex-direction: row;
    padding: 15px;
    border: 2px solid #FFA500;
    border-radius: 5px;
}

.btn{
    display: block;
    width: 98%;
    height: 20%;
    margin: 1% 1% 1%;
    margin-bottom: 1px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #FFB6C1;
    color: #8B0000;
    padding: 5px;
    border-radius: 5px;
}

.btn_2{
    display: block;
    width: 100%;
    height: 30%;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #FFB6C1;
    color: #8B0000;
    padding: 5px;
    border-radius: 5px;
}

.botoes{
    width: 35px;
    margin-bottom: 8px;
    color: #8B0000;
    background-color: #FFB6C1;
    border-color: #FFA500;
    border-radius: 80px;
}

.sub{
    font-size: 35px;
    padding-bottom: 5px;
}

.produto-imagem{
    height: 150px;
    width: 20%;
    margin-bottom: 10px;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
}

.quantidade-imagem{
    height: 40px;
    width: 40px;
    margin-bottom: 10px;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
}

.div_TDescricao{
    width: 60%;
    padding: 5px;
    
}

.div_VCompra{
    width: 20%;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
}

h3{
    margin-bottom: 10px;
    color: #8B0000;
    font-size: 18px;
    padding-left: 8px;
}

div p{
    font-size: 14px;
    padding: 5px;
}

.bold {
    font-weight: bold;
    font-size: 25px;
}

.bnt:hover {
    background-color: #8B0000;
   }