*{
    padding: 0;
    margin: 0;
    font-family: Helvetica;
    box-sizing: border-box;
}
/* Cabeçalho */

header{
    background-color: #FFB6C1;
    text-align: center;
    padding: 15px;
    color: #8B0000;
    display:flex;
    justify-content: center;
    align-items: center;
}

header h1{
    font-size: 50px;
}

/* Grid de produtos */

.container {
    background-color: #DCDCDC;
    min-height: 60vh;
    padding: 50px;
}

.catalago-produto{
    max-width: 1200px;
    margin: 0 auto;
}

.flex_box{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.card{
    width: 29%;
    margin: 1% 1%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.produto-imagem{
    height: 300px;
    width: 100%;
    margin-bottom: 10px;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
}

.logo-imagem{
    height: 200px;
    width: 200px;
    margin-bottom: 10px;
    background-position: center;
    background-size: cover;
    margin-left: 25px;
    border-radius: 10px;
}

#img-1{
    background-image: url('../img/fone1.jpg');
}
#img-2{
    background-image: url('../img/teclado1.jpg');
}
#img-3{
    background-image: url('../img/mouse1.jpg');
}
#img-4{
    background-image: url('../img/monitor1.jpg');
}
#img-5{
    background-image: url('../img/cadeira1.jpg');
}
#img-6{
    background-image: url('../img/mousepad1.jpg');
}
#img-7{
    background-image: url('../img/logo1.jpg');
}

h3{
    margin-bottom: 10px;
    color: #8B0000;
    font-size: 24px;
    border-left: 2px solid #8B0000;
    padding-left: 8px;
}

.titulo{
    font-size:xx-large;
    color: #8B0000;
    padding-left: 8px;
    margin-bottom: 25px;
}

.card p{
    margin-bottom: 10px;
}
.bold {
    font-weight: bold;
}
.btn{
    display: block;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #FFB6C1;
    color: #8B0000;
    padding: 15px;
    border-radius: 5px;
}

.bnt:hover {
 background-color: #8B0000;
}

footer{
    background-color: #FFB6C1;
    text-align: center;
    padding: 80px;
    color: #8B0000;
}